@using Newtonsoft.Json;
@model StatusPage.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Status";
}

<div class="row">
    <div class="col">
        @if (!Model.DomainTests.Any(x => x.IsDown) && !Model.ServiceTests.Any(x => x.IsDown))
        {
            <div class="alert alert-success" role="alert">
                <strong>Oh yeah!</strong> All systems are operational.
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <strong>Oh snap!</strong> Some systems are experiencing issues.
            </div>
        }
    </div>
</div>

@{
    ViewData["SectionTitle"] = "Last month average uptime";
    ViewData["SectionText"] = "Based on all test";
}
<partial name="~/Views/Home/LargeChart.cshtml" model="Model.LastMonthAverageUptime" view-data="ViewData" />

@{
    ViewData["SectionTitle"] = "Websites";
}
<partial name="~/Views/Home/PartialTests.cshtml" model="Model.DomainTests" view-data="ViewData" />

@{
    ViewData["SectionTitle"] = "Services";
}
<partial name="~/Views/Home/PartialTests.cshtml" model="Model.ServiceTests" view-data="ViewData" />

