<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TothNET Status Page</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/apexcharts/dist/apexcharts.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="~/lib/apexcharts/dist/apexcharts.js"></script>
</head>
<body style="background-color:#eff0f1;">

    <div class="container body-content">
        <div class="col">
            <h2 class="text-center mb-5">TothNET Status Page</h2>
        </div>
        <div class="bg-light p-3 shadow-lg rounded">
            @RenderBody()
        </div>
        <br />
        <footer>
            <p>&copy; @DateTime.Now.Year - TothNET Status Page</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
